body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fde2e2; /* Cute background color, you can change it to your preference */
    overflow: hidden;
}

.kissing-container {
    position: relative;
    height: 50vh; /* Adjust the height as needed */
}

.kissing-emoji {
    font-size: 4em; /* Increase font size for mobile */
    position: absolute;
    color: #ff69b4; /* Pink color, you can change it to your preference */
    animation: moveEmoji 5s linear infinite alternate;
}

.message-container {
    text-align: center;
    margin-top: 10vh; /* Adjust top margin for spacing */
}

.message-bg,
.signature-bg {
    display: inline-block;
    background-color: #ffe4e1; /* Light pink background color, you can change it */
    padding: 10px; /* Add padding for better visual appeal */
    animation: moveText 5s linear infinite alternate;
}

.message,
.signature {
    font-size: 1.5em; /* Adjust font size for mobile */
    color: #333; /* Dark color, you can change it to your preference */
    margin: 0;
}

@keyframes moveEmoji {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(calc(-50% + 75px), -50%);
    }
}

@keyframes moveText {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-25px);
    }
}
